# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/snapdev
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# The best pattern to follow is ignoring editor files in a global .gitignore configuration file.
# However, in order to prevent issues, editor files are ignored here.
.idea
.vscode

*.log
.DS_STORE
/.eslintcache
/docs/.next
/.nyc_output
/coverage
/docs/export
/examples/**/.cache
/packages/material-ui-codemod/lib
/packages/material-ui-icons/material-icons/*
/test/regressions/screenshots
/test/selenium-output
/tmp
build
node_modules
package-lock.json
size-snapshot.json